@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@plugin "daisyui";


* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.active {
  color: rgb(160, 28, 255)
}



.btn-custom {
    @apply 
      w-full py-4
      bg-linear-to-r from-indigo-600 to-purple-700
      text-white font-bold text-lg
      rounded-xl
      shadow-lg
      transform transition-all duration-300
      cursor-pointer;
  }


  
  .btn-custom:hover {
    @apply 

      scale-103
      shadow-purple-500/10;
  }



