@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@plugin "daisyui";


* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.active {
  color: rgb(160, 28, 255)
}




/* Particle moving lines */
.particle-lines {
  position: absolute;
  inset: 0;
  background-image:
    repeating-linear-gradient(
      120deg,
      rgba(168, 85, 247, 0.12) 0px,
      rgba(168, 85, 247, 0.12) 1px,
      transparent 1px,
      transparent 120px
    );
  background-size: 200% 200%;
  animation: particleMove 25s linear infinite;
  opacity: 0.35;
}

@keyframes particleMove {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 200% 200%;
  }
}
